---
layout: default
title: Home
---
<section class="index-page-hero-unit">
  <div class="container h-100">
    <div class="row justify-content-center h-100">
      <div class="col-md-12 align-self-center text-center">
        <div class="hero-unit-text-container" style="padding-top: 20px;">
          <h1 class="text-uppercase">Delivering Artificial Intelligence on Technology.</h1>
          <p>Caravel is a research and development company whose mission is to harness Artificial Intelligence to increase our understanding patterns things and augment Humans. </p>
          <a href="#k" id="link" class="btn btn-primary">Know more</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-center" style="padding: 40px 0px;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2 class="text-capitalize">What we do</h2>
        <hr class="us-line">
        <p style="font-weight: 300;font-size: 120%;">We help corporations and funded startups research, design, and develop real-time intelligent software to improve their business with data technologies. Like we help you set up an Research and Development Team, maybe an Artificial Intelligence Lab, or even establish a Artificial Intelligence Team, Real-time Intelligent Big Data Software, Machine Learning Pipelines and Engines.
        </p>
      </div>
    </div>
  </div>
</section>

<div id="k">
  <section style="padding: 40px 0px 40px 0px; background-color: var(--secondary-background);">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-6" style="padding: 25px;">
          <h1 style="font-weight: 100;">Start a Machine Learning project with us</h1>
          <p style="padding: 20px 0px;font-size: 120%;">As a Machine Learning Consulting company, we offer end-to-end Machine Learning, Data Science, AI & software development.</p>
          <p style="padding-bottom: 20px;font-size: 120%;">We will take care of your entire project from the data preparation to scalable deployment to production.</p>
          <a href="/contact?v=1"><button class="btn btn-primary"> START A PROJECT WITH US </button></a>
        </div>
        <div class="col-sm-6">
          <div style="padding: 15px 10px; border: 1px solid lightgray; border-radius: 3px;">
            <div class="row" style="padding-top: 15px;">
              <div class="col-sm-3 text-center">
                <img class="img-fluid" src="/images/data-analytics-wheel-graphic.svg" width="60">
              </div>
              <div class="col-sm-9">
                <h6>NLP (Text Processing)</h6>
                <p>Extract knowledge from human-language text - figures, names, relationships, entities; rank texts based on relevance to speed up reporting and analysis</p>
              </div>
            </div>
            <div class="row" style="padding: 20px 0px;">
              <div class="col-sm-3 text-center">
                <img class="img-fluid" src="/images/analytics-monitor.svg" width="60">
              </div>
              <div class="col-sm-9">
                <h6>Computer Vision</h6>
                <p>Detect objects on image, classify images into topic groups or by presence of a feature</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 text-center">
                <img class="img-fluid" src="/images/increasing-stocks-graphic-of-bars.svg" width="60">
              </div>
              <div class="col-sm-9">
                <h6>Predictive Analytics</h6>
                <p>Predict the market conditions or product sales.<br/>Understand customers, prevent churn and optimize resource usage and efficiency</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="whatwedo">
  <div class="container text-center">
    <h2 class="text-capitalize">How we do</h2>
    <hr class="us-line">
    <div class="row justify-content-center text-left" style="padding-top: 40px;">
      <div class="col-md-10">
        <div class="timeline-container">
          <div class="timeline-content">
            <div style="font-size: 30px;">Research</div>
            <div style="font-weight: 700">Refine and validate your AI idea</div>
            <div style="font-weight: 300">Our scientists will develop tailored machine intelligence algorithms to validate your AI ideas. We analyzed over a 1000 AI use cases, and we can help you find the right one for your business.</div>
          </div>
          <div class="timeline-content">
            <div style="font-size: 30px;">Design</div>
            <div style="font-weight: 700">Build an intelligent software product from scratch</div>
            <div style="font-weight: 300">Our product managers, architects, designers and industry experts can help you design a new intelligent product that will perfectly fit your customers' needs.</div>
          </div>
          <div class="timeline-content">
            <div style="font-size: 30px;">Develop</div>
            <div style="font-weight: 700">Build real-time intelligent big data software</div>
            <div style="font-weight: 300">We are ready to augment your product team with our engineers and scientists or build a self-contained data-intensive module for you: ETL (Extract-Transform-Load) pipeline, Machine learning microservice, or a Business Intelligence tool.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section style="background-color: var(--secondary-background);padding: 40px 0px;">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <p style="font-size: 32px;font-weight: 500;line-height: 1.5;">Have a project or an idea you'd like to collaborate with caravel on? Interested in what caravel can do for you?</p>
        <a href="/contact" class="btn btn-primary btn-joinus">Join Us</a>
      </div>
    </div>
  </div>
</section>

{% if site.posts != empty %}
<section style="background-color: #F5F5F5;">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner text-center">
      <div class="carousel-item active">
        <div style="width: 100%;height: 300px;">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-sm-9">
                <div style="padding-top: 70px;font-size: 200%;">
                  {{ site.posts[0].title | truncatewords : 30 }}
                </div>
                <div style="padding-top: 5px;font-size: 120%;">
                  <div class="blog-author-datails">
                    {{site.posts[0].author}} - {{site.posts[0].date | date: '%B %d'}} 
                  </div>
                </div>
                <div style="padding-top: 25px;">
                  <a href="{{site.posts[0].url}}" style="text-decoration: none;">
                    <span class="start-project">
                      Read more >
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      {% for posts in site.posts offset:1 limit:3 %}
      <div class="carousel-item">
        <div style="width: 100%;height: 300px;">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-sm-9">
                <div style="padding-top: 70px;font-size: 200%;">
                  {{ posts.title | truncatewords : 30 }}
                </div>
                <div style="padding-top: 5px;font-size: 120%;">
                  <div class="blog-author-datails">
                    {{posts.author}} - {{posts.date | date: '%B %d'}} 
                  </div>
                </div>
                <div style="padding-top: 25px;">
                  <a href="{{posts.url}}" style="text-decoration: none;">
                    <span class="start-project">
                      Read more >
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        &lsaquo;
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        &rsaquo;
      </a>
    </div>
  </div>
</section>
{% endif %}

<section style="background-color: #212121;padding: 60px 0px;">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <p style="text-transform: uppercase;font-weight: 300;color: #FFF;font-size: 14px;">Get in touch</p>
        <h1 class="hero-unit-primary-text" style="color: #fff;font-size: 40px;">WE’D LOVE TO HEAR FROM YOU</h1>
        <h1 class="hero-unit-primary-text" style="color: #fff;font-size: 22px;">team@caravel.co.in</h1>
      </div>
      <div class="col-sm-4">
        <img class="img-fluid center-block" src="images/paper-plane.svg" width="150" style="color:;">
      </div>
    </div>
  </div>
</section>
