<footer style="padding: 8px 0px 1px 0px;">
	<div class="container">
		<div class="row" style="margin-top: 10px;">
			<div class="col-sm-7" style="font-size: 12px;color: #666;">Copyright © CARAVEL ONE27 ENTERPRISES PRIVATE LIMITED 2018. All rights reserved.</div>
			<div class="col-sm-5 footer-links text-center">
				<ul class="socail-icons">
					<li><a href="https://twitter.com/caravel_tech"><i class="fab fa-twitter"></i> Twitter</a></li>
					<li><a href="https://www.facebook.com/caraveltechhq/"><i class="fab fa-facebook-square"></i> Facebook</a></li>
					<li><a href="https://www.linkedin.com/company/13612713/"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>