<footer>
	<div class="container">
		<div class="row">
			<div class="footer-links-main col-sm-3">
				<p style="text-transform: capitalize;margin-bottom: 5px;font-weight: 700">Company</p>
				<ul class="footer-a">
					<li><a href="/blog">Blog</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/terms">Terms and conditions</a></li>
					<li><a href="/privacy">privacy policy</a></li>
				</ul>
			</div>

			<div class="footer-links-main col-sm-3">
				<p style="text-transform: capitalize;margin-bottom: 5px;font-weight: 700">What we do</p>
				<ul class="footer-a">
					<li><a href="/tech">Tech</a></li>
					<li><a href="/ai">AI</a></li>
				</ul>
			</div>

			<div class="footer-links-main col-sm-3">
				<p style="text-transform: capitalize;margin-bottom: 5px;font-weight: 700">Contact</p>
				<ul>
					<li><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;+91 9700784998</li>
					<li><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;team@caravel.co.in</li>
					<li><a href="http://bit.ly/91sbhhc" class="navlink"><i class="fa fa-map-marker-alt" aria-hidden="true"></i>&nbsp;&nbsp;
						91springboard<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Jubilee Enclave, HITEC City,<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hyderabad-500081.</a>
					</li>
				</ul>
			</div>

			<div class="footer-links-main col-sm-3">
				<p style="text-transform: capitalize;margin-bottom: 5px;font-weight: 700">get in touch with us</p>
				<ul class="footer-a">
					<li><a href="https://twitter.com/caravel_tech"><i class="fab fa-twitter"></i>&nbsp;&nbsp;Twitter</a></li>
					<li><a href="https://www.facebook.com/CaravelLabs/"><i class="fab fa-facebook-square"></i>&nbsp;&nbsp;Facebook</a></li>
					<li><a href="https://www.linkedin.com/company/13612713/"><i class="fab fa-linkedin"></i>&nbsp;&nbsp;LinkedIn</a></li>
				</ul>
			</div>
		</div>

		<div class="row" style="margin-top: 2px;">
			<div class="col-sm-7" style="font-size: 12px;color: #666;">Copyright © CARAVEL ONE27 ENTERPRISES PRIVATE LIMITED 2018. All rights reserved.</div>
		</div>
	</div>
</footer>