<section>
    <div class="footer">

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h1 class="footer-head">Join Us</h1>
                    <p class="footer-text">Are you keen on making a meaningful impact?
                        Interested in joining the caravel team?
                    </p>
                    <p class="text-white text-uppercase">View Our Jobs <i class="fas fa-arrow-right"></i></p>
                </div>
                <div class="col-md-3">
                    <h1 class="footer-head">What's new? </h1>
                    <p class="footer-text">Are you keen on making a meaningful impact?
                        Interested in joining the caravel team?
                    </p>
                    <p class="text-white text-uppercase">Subscribe <i class="fas fa-arrow-right"></i></p>
                </div>
                <div class="col-md-6">
                    <div class="footer-right">
                            <h1 class="pl-5 footer-head"><img class="img-fluid" src="/images/caravel.png" width="150"></h1>

                        <ul class="footer-link">
                            <li>Facebook</li>
                            <li> | </li>
                            <li>Twitter</li>
                            <li> | </li>
                            <li>Linkedin</li>
                        </ul>
                        <p class="pl-5 footer-text"> Copyright © caravel company ltd 2019.
                        
                            CIN: U74900KA2015PTC081722<br>
                            GSTIN: 29AAWCS1488D1ZQ<br>
                            SEBI Research Analyst INH200005984</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
